body {
  margin: 0;
  font-family:'Segoe UI';
  background:lightcyan;
}

header {
  background: cyan;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

header a {
  color: black;
  text-decoration: none;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages{
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}
