body {
  margin: 0;
  font-family:'Segoe UI';
  background-color: lightcyan;
}

header {
  background: lightcyan;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

header a {
  color: black;
  text-decoration: none;
}


button {

  background: transparent;
  border: none !important;
  font-size: 0;
  margin: auto;
  display: flex;
  padding-top: 10px;
}

.pages{
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}
